.appointments-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .appointments-container h1 {
    color:#3082b1;
    margin-bottom: 20px;
  }
  
  .appointment-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .appointment-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33% - 10px);
    flex-grow: 1;
  }
  
  .appointment-form button {
    background-color: #3082b1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .appointment-form button:hover {
    background-color: #3082b1;
  }
  
  .appointment-list {
    list-style-type: none;
    padding: 0;
  }
  
  .appointment-item {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  